### OpenWrt SDK软件包编译配置项 ###

CONFIG_LUCI_LANG_zh_Hans=y
CONFIG_LUCI_LANG_zh_Hant=y

CONFIG_PACKAGE_frpc=y
CONFIG_PACKAGE_frps=n
CONFIG_PACKAGE_gecoosac=y
CONFIG_PACKAGE_nginx-full=y
CONFIG_PACKAGE_openlist2=y
CONFIG_PACKAGE_lucky=n
CONFIG_PACKAGE_luci-app-aria2=n
CONFIG_PACKAGE_luci-app-frpc=y
CONFIG_PACKAGE_luci-app-frps=n
CONFIG_PACKAGE_luci-app-gecoosac=n
CONFIG_PACKAGE_luci-app-argon-config=n
CONFIG_PACKAGE_luci-app-aurora-config=n
CONFIG_PACKAGE_luci-app-lucky=n
CONFIG_PACKAGE_luci-app-openlist2=n
CONFIG_PACKAGE_luci-theme-argon=n
CONFIG_PACKAGE_luci-theme-aurora=n

